<mat-card class="product-card">
  <mat-card-header>
    <p class="product-title">Product Title</p>
  </mat-card-header>
  <img mat-card-image src="assets/imgs/placeholder.png" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p class="product-description">Product Description</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="btn-group">
      <button mat-stroked-button color="primary">Details</button>
      <button mat-flat-button color="primary">Add to Cart</button>
    </div>
  </mat-card-actions>
</mat-card>
