<mat-card class="product-card" *ngIf="product">
  <mat-card-header>
    <p class="product-title cut-text">{{ product.name }}</p>
  </mat-card-header>
  <div class="img-container">
    <img mat-card-image [src]="product.imageUrl || fallbackImage" alt="Photo of a Shiba Inu" />
  </div>
  <mat-card-content>
    <p class="product-description">Product Description</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="btn-group">
      <button
        mat-stroked-button
        color="primary"
        #tooltip="matTooltip"
        matTooltip="I don't work for now"
        matTooltipPosition="above"
      >
        Details
      </button>
      <button mat-flat-button color="primary" (click)="onAddToCart(product)">Add to Cart</button>
    </div>
  </mat-card-actions>
</mat-card>
