<section class="news-banner">
  <div id="banner-news-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators" #carouselIndicators>
      <button
        *ngFor="let bannerItem of bannerItems; index as i"
        type="button"
        data-bs-target="#banner-news-carousel"
        [attr.data-bs-slide-to]="i"
        [attr.aria-label]="bannerItem.description"
      ></button>
    </div>
    <div class="carousel-inner container-fluid" #carouselContent>
      <ng-container *ngFor="let bannerItem of bannerItems">
        <div class="carousel-item">
          <img class="news-banner-image" [src]="bannerItem.image" [alt]="bannerItem.description" />
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control carousel-control-prev"
      type="button"
      data-bs-target="#banner-news-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control carousel-control-next"
      type="button"
      data-bs-target="#banner-news-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
