<section class="cart">
  <ul class="cart-list">
    <li class="cart-line">
      <div class="cart-item">
        <img src="assets/imgs/placeholder.png" alt="Product Avatar" />
        <p matBadge="4" matBadgeOverlap="false" matBadgeColor="primary">Smartwatch Xiaomi Mi Wat</p>
        <span class="price">59.9 €</span>
      </div>
      <div class="cart-item">
        <img src="assets/imgs/placeholder.png" alt="Product Avatar" />
        <p matBadge="4" matBadgeOverlap="false" matBadgeColor="primary">Xiaomi Mi Earphones 2S</p>
        <span class="price">54.9 €</span>
      </div>
      <div class="cart-item">
        <img src="assets/imgs/placeholder.png" alt="Product Avatar" />
        <p matBadge="4" matBadgeOverlap="false" matBadgeColor="primary">xiaomi 12 pro</p>
        <span class="price">759.9 €</span>
      </div>
    </li>
  </ul>
  <div class="cart-total">
    <p>Total</p>
    <span>847.7 €</span>
  </div>
</section>
