:host {
  background-color: #fafafa;
  flex-grow: 1;
  text-align: center;
}

.news-banner {

  padding: 100px;
  width: 100%;

  h2 {
    color: #0000008a;
    font-size: 2rem;
    font-weight: 400;
  }
}
